


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body  {
	background-image: url("./images/taxi.jpg");
	background-color: #cccccc; 
	height: 100px; 
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 100%;
	
  }
